@import "../../../../styles/variables.scss";

.specificStat {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    background-color: $BG;
    border-radius: 0.5rem;
}