
.commentSection {
    margin: 1rem;

    .comments {
        display: flex;
        flex-direction: column;
        list-style: none;

        &>*:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    & > *:not(:last-child) {
        margin-bottom: 1rem;
    }
}