$BG: rgb(249, 249, 249);

.request {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $BG;

    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;

    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .name {
            display: flex;
            flex-direction: row;
            align-items: center;

            & > *:not(:last-child) {
                margin-right: 1rem;
            }
        }

        & > *:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    .actions {
        display: flex;
        align-items: flex-end;

        .dropdown {
            position: relative;

            .dropdownContent {
                background-color: #fff;
                padding: 0.5rem;
            }

            .choices {
                display: none;
                flex-direction: column;
                list-style: none;

                position: absolute;
                left: 0;
                top: 2rem;

                padding: 0.25rem;
                background-color: $BG;
                border: 2px solid darken($BG, 2);
                

                li {
                    padding: 0.25rem 0.5rem;
                    background-color: #fff;
                }

                & > *:not(:last-child) {
                    margin-bottom: 0.5rem;
                }

                &.open {
                    display: flex;
                }
            }
        }

        & > *:not(:last-child) {
            margin-right: 0.5rem;
        }
    }

    & > *:not(:last-child) {
        margin-right: 1rem;
    }
}