acronym,
big,
th,
h2,
li,
dd,
small,
samp,
pre,
kbd,
ol,
del,
address,
ul,
var,
dfn,
strike,
tbody,
tr,
a,
table,
tt,
input,
s,
tfoot,
p,
abbr,
blockquote,
thead,
object,
label,
h3,
td,
form,
q,
h1,
sup,
div,
img,
span,
html,
legend,
sub,
strong,
applet,
dl,
dt,
caption,
code,
iframe,
cite,
ins,
h4,
em,
button,
h5,
h6,
fieldset,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    vertical-align: baseline;
}