$brand: rgb(0, 121, 188);
$error: #e83d3d;
$code: 'Fira Code', monospace;
$BG: rgb(250, 250, 250);

$DEFAULT_BROWSER_FONT: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;